.Cuerpo{  
    background-color:#00b74f;
}
    
    .Title{   
        color:#00b74f;  
        font-family:Tahoma, Geneva, sans-serif;
        font-size: xx-large;
        font-weight: bold;
    }
        