.container{
    font-family:Arial Black, Gadget, sans-serif;
    color:#00b74f;
    background:#00b74f;
    border-radius:13px 13px 13px 13px;
    line-height:38.400002px;
    margin:10px 109px 10px 109px;
    padding:0px 0px 0px 10px;
    display:flex;
    height: 37px;
}

.Nav-Titulo{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight:700;
    font-size: 31px;
    width: auto;
    text-align: right;
}

.Box{
    background:#F49D2C;
    text-align: right;
    text-decoration: none;
    color: #fff;
    width: auto;
    height: 100%;
    border-radius: 13px;
    padding: 1px;
}


    
